ColumnLimit: 0
IndentWidth: 2
ContinuationIndentWidth: 2
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AlignAfterOpenBracket: Align
ReferenceAlignment: Left
PointerAlignment: Left
FixNamespaceComments: False
SpaceBeforeCpp11BracedList: True
AlignConsecutiveAssignments: Consecutive